/* 定义 CSS 变量 */
:root {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease; /* 平滑过渡效果 */
}

/* 当处于黑暗模式时，修改 CSS 变量的值 */
body.dark-mode {
  --bg-color: black;
  --text-color: white;
}

.content {
  padding: 20px;
}

#toggleButton {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}